/*# Start Reset #*/

/*
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
/*# Fin Reset #*/

/* General */
:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --font-size: 32px;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

main {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: var(--dark-blue);
}

article {
  min-height: 100vh;
  /* padding: 1.5em; */
  display: flex;
  flex-direction: column;
  background: bottom left / 85% no-repeat url(./images/pattern-curve.svg);
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/* Top screen */

#block-image {
  min-height: 46vh;
  background: 50% 47% no-repeat url(./images/pattern-bg.svg);
  background-size: 88.5%;
  position: relative;
  padding-top: 3.25em;
}

#block-image #image {
  display: block;
  margin: auto;
  width: 16em;
  height: 16em;
  border-radius: 0.25em;
  background-color: var(--grayish-blue);
  box-shadow: 0px 21px 28px 0px hsla(240, 38%, 20%, 0.25);
}

#block-image #slider-controls {
  position: absolute;
  background-color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25em;
  border-radius: 2em;
}

#block-image #slider-controls button {
  background: white;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

#block-image #slider-controls button img {
  max-height: 1.25em;
}

#block-image #slider-controls #control-left {
  margin-right: 0.5em;
}

/* Bottom screen */

blockquote {
  min-height: 46.5vh;
  background: center top / 17% no-repeat url(./images/pattern-quotes.svg);
  text-align: center;
}

blockquote #about {
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
  line-height: 1.5em;
  padding: 1.75em 2em;
  letter-spacing: 1px;
}

blockquote #name {
  font-weight: var(--font-weight-bold);
  line-height: 1.5em;
}

blockquote #role {
  font-weight: var(--font-weight-medium);
  color: var(--grayish-blue);
}

/* Media querie */
/* TODO: Add media queries middle */

@media only screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1) {
  main {
    font-size: var(--font-size);
  }

  article {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background: bottom left / 42% no-repeat url(./images/pattern-curve.svg);
  }

  /* Left screen */

  blockquote {
    z-index: 2;
    width: 50vw;
    height: 63vh;
    text-align: left;
    background: 43.5% 11% / 17% no-repeat url(./images/pattern-quotes.svg);
  }

  blockquote #about {
    padding: 3.5em 1.5em 1.2em 5.2em;
    width: 45.5vw;
    letter-spacing: normal;
    line-height: 1.4em;
  }

  blockquote cite p {
    display: flex;
    align-items: center;
    font-size: 0.62em;
    padding-left: 11.5vw;
  }

  blockquote cite p #name {
    margin-right: 0.5em;
  }

  /* Right screen */

  #block-image {
    height: 90vh;
    width: 60vw;
    background: 57% 28% / 80% no-repeat url(./images/pattern-bg.svg);
    padding-top: 14vh;
    margin-left: -4.5em;
  }
  #block-image #image {
    width: 16.8em;
    height: 16.8em;
  }

  #block-image #slider-controls {
    left: 30%;
  }

  #block-image #slider-controls button img {
    max-height: auto;
  }

  #block-image #slider-controls #control-left {
    margin-right: 1.5em;
  }
}
